// first-line-comment for scss autocompile

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function lighten($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function darken($color, $percentage) {
  @return mix(black, $color, $percentage);
}

$color-1: #f5815f;
$color-2: #75a580;
$color-3: #907b60;
$color-4: #455567;
$color-5: #f2efe5;

$primary-font: 'Zilla Slab', serif;
$secondary-font: 'Bungee', sans-serif;

// breakpoints

$S: 600px;
$M: 800px;
$L: 1000px;
$XL: 1200px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; }
  }
  @else if $canvas == XL {
   @media only screen and (min-width: $XL) { @content; }
  }
}

//
html {
  background: $color-4;
  color: $color-4;
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  background: lighten($color-5, 80%);
	font-size: 1.6rem;
	font-family: $primary-font;
}

html, body, #page {
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: $secondary-font;
}

#page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

pad {
  padding: 0 1rem;
}

input {
  background: none;
  border: 0;
  font-family: $primary-font;
  line-height: 1.5;
  padding: 1rem;
}

button {
  background: $color-1;
  border: 1px solid $color-5;
  border-radius: 5rem;
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.4);
          box-shadow: 0px 2px 2px rgba(0,0,0,.4);
  color: $color-5;
  font-family: $secondary-font;
  padding: 1.5rem;
  &#shaft {
    bottom: 2rem; right: 2rem;
    position: fixed;
  }
  &:hover {
    cursor: pointer;
  }
}

i {
  padding: 1rem;
  &:hover {
    cursor: pointer;
  }
}

// header

header {
  @extend pad;
  background: $color-2;
  color: lighten($color-5, 60%);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  text-align: center;
  h1 {
    font-size: 1.2em;
    @include MQ(M) {
      font-size: 2em;
    }
  }
  a, a:hover, a:visited {
    color: $color-5;
    text-decoration:none;
	}
  a.active {
    color: $color-3;
		.logo {
			.text {
				color: $color-5;
			}
		}
  }
  div {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
  }
}

#conversation {
  @extend pad;
  border-left: 0;
  border-right: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow-y: auto;
  @include MQ(M) {
    padding-bottom: 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 75%;
      .name {
        background: $color-2;
        border: 1px solid $color-5;
        border-radius: 5px 5px 0 5px;
        color: $color-5;
        margin-top: 1rem;
        padding: 1.5rem;
      }
      .remove {
        i {
          padding: 1.5rem 0;
        }
      }
    }
  }
}

#new-message {
  @extend pad;
  background: lighten($color-5, 60%);
  border-top: 1px solid $color-2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-height: 4.4rem;
  padding: 1rem;
  width: auto;
  input {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    &:focus {
      outline: 0;
    }
  }
  .material-icons {
    color: $color-2;
  }
}
