html, body, #nellie {
  height: 100%;
}

#nellie {
  background: #fff;
  color: #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Zilla Slab", serif;
  font-size: 14px;
  line-height: 1.5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#nellie h1, #nellie h2, #nellie h3, #nellie h4, #nellie h5 {
  font-family: "Bungee", sans-serif;
}

pad, header, #conversation, #new-message {
  padding: 0 1em;
}

input {
  background: none;
  border: 0;
  font-family: "Zilla Slab", serif;
  line-height: 1.5;
  padding: 1em;
}

i {
  padding: 1em;
}

i:hover {
  cursor: pointer;
}

header {
  background: #bccb2a;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

header h1 {
  font-size: 1.2em;
}

#conversation {
  background: #fff;
  border-left: 0;
  border-right: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  overflow-y: auto;
  padding-bottom: 1em;
}

#conversation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#conversation ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  text-align: right;
}

#conversation ul li span {
  background: #fff;
  border: 1px solid #4c4c4c;
  border-radius: 5px 5px 0 5px;
  margin-top: 1em;
  padding: 1em;
}

#conversation ul li.response {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: left;
}

#conversation ul li.response span {
  background: #bccb2a;
  border-color: #4c4c4c;
  border-radius: 5px 5px 5px 0;
}

#new-message {
  background: #e5e5e5;
  border-top: 1px solid #bfbfbf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

#new-message input {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

#new-message input:focus {
  outline: 0;
}

#new-message .material-icons {
  color: #747E0E;
  font-size: 2em;
  padding: .5em;
}
