pad, #nellieContainer #nellie #header, #nellieContainer #nellie #conversation, #nellieContainer #nellie #new-message {
  padding: 0 1em;
}

nellie, #nellieContainer #nellie #conversation ul li.response span, #nellieContainer .toggle i {
  background: #8dce19;
}

body {
  font-family: "Zilla Slab", serif;
}

h1 {
  font-family: "Bungee", sans-serif;
}

#nellieContainer {
  bottom: 0;
  padding: 1em;
  position: fixed;
  right: 0;
}

#nellieContainer #nellie {
  background: transparent;
  color: #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Zilla Slab", serif;
  font-size: 14px;
  height: 0;
  line-height: 1.5;
  overflow: hidden;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
  -webkit-transition: -webkit-transform .3s ease-in;
  transition: -webkit-transform .3s ease-in;
  transition: transform .3s ease-in;
  transition: transform .3s ease-in, -webkit-transform .3s ease-in;
  width: 0;
}

#nellieContainer #nellie h1, #nellieContainer #nellie h2, #nellieContainer #nellie h3, #nellieContainer #nellie h4, #nellieContainer #nellie h5 {
  font-family: "Bungee", sans-serif;
}

#nellieContainer #nellie #header {
  background: #8dce19;
  border-radius: 1em 1em 0 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

#nellieContainer #nellie #header h1 {
  font-size: 1.2em;
}

#nellieContainer #nellie #header .material-icons {
  font-size: .9em;
  padding: 0;
}

#nellieContainer #nellie #conversation {
  background: #fff;
  border: 1px solid #e5e5e5;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  overflow-y: auto;
  padding-bottom: 1em;
}

#nellieContainer #nellie #conversation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nellieContainer #nellie #conversation ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  text-align: right;
}

#nellieContainer #nellie #conversation ul li span {
  background: #fff;
  border: 1px solid #bfbfbf;
  border-radius: 10px 10px 0 10px;
  margin-top: 1em;
  padding: 1em;
}

#nellieContainer #nellie #conversation ul li.response {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: left;
}

#nellieContainer #nellie #conversation ul li.response span {
  border-radius: 10px 10px 10px 0;
}

#nellieContainer #nellie #new-message {
  background: #e5e5e5;
  border-radius: 0 0 1em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

#nellieContainer #nellie #new-message input {
  background: none;
  border: 0;
  font-family: "Zilla Slab", serif;
  line-height: 1.5;
  padding: 1em 0;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

#nellieContainer #nellie #new-message input:focus {
  outline: 0;
}

#nellieContainer #nellie #new-message .material-icons {
  color: #1f496b;
  cursor: pointer;
  font-size: 1.5em;
  line-height: 1.5;
  padding: .5em 0;
}

#nellieContainer .toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  padding-top: 0;
}

#nellieContainer .toggle i {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #bfbfbf;
  box-shadow: 0 0 10px #bfbfbf;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#nellieContainer .toggle i#close {
  display: none;
}

#nellieContainer .toggle i#chat {
  display: block;
}

#nellieContainer.on #nellie {
  height: 500px;
  width: 300px;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

#nellieContainer.on .toggle {
  padding-top: 1em;
}

#nellieContainer.on .toggle i#close {
  display: block;
}

#nellieContainer.on .toggle i#chat {
  display: none;
}
