pad, #nellie header, #nellie #conversation, #nellie #new-message {
  padding: 0 1em;
}

body {
  font-family: "Zilla Slab", serif;
}

h1 {
  font-family: "Bungee", sans-serif;
}

#nellie {
  background: transparent;
  color: #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Zilla Slab", serif;
  font-size: 14px;
  height: 100%;
  line-height: 1.5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px;
}

#nellie h1, #nellie h2, #nellie h3, #nellie h4, #nellie h5 {
  font-family: "Bungee", sans-serif;
}

#nellie header {
  background: #8dce19;
  border-radius: 1em 1em 0 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

#nellie header h1 {
  font-size: 1.2em;
}

#nellie header .material-icons {
  font-size: .9em;
  padding: 0;
}

#nellie #conversation {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-top: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  overflow-y: auto;
  padding-bottom: 1em;
}

#nellie #conversation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nellie #conversation ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  text-align: right;
}

#nellie #conversation ul li span {
  background: #fff;
  border: 1px solid #bfbfbf;
  border-radius: 10px 10px 0 10px;
  margin-top: 1em;
  padding: 1em;
}

#nellie #conversation ul li.response {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: left;
}

#nellie #conversation ul li.response span {
  background: #8dce19;
  border-radius: 10px 10px 10px 0;
}

#nellie #new-message {
  background: #e5e5e5;
  border-radius: 0 0 1em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

#nellie #new-message input {
  background: none;
  border: 0;
  font-family: "Zilla Slab", serif;
  line-height: 1.5;
  padding: 1em 0;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

#nellie #new-message input:focus {
  outline: 0;
}

#nellie #new-message .material-icons {
  color: #1f496b;
  cursor: pointer;
  font-size: 1.5em;
  line-height: 1.5;
  padding: .5em 0;
}
